body {

  background-color:rgb(245, 244, 242); 
  height: 100vh; right; 

}

.navbar{
        background-color: #337a81;
        text-decoration: none;
        color: #eeeeee;
        margin: auto;
        padding: 0.5% 0.5%;
        border-radius: 0.5%;
        font-weight: bold;
}
h1{

        text-align: center;
}
h1{
  background-image: url(../img/ESTADIOFONDO.png);
  padding: 100px;
  width: 100%; 
  text-shadow: 20px 15px 7px black;
  font-family: 'Oswald', sans-serif;
        font-size: 1000%;
        font-weight: 800;
        color: white     
}
h2{
  font-size: 50px;
  color: rgb(40, 26, 117) 
        font-family:Verdana, Geneva, Tahoma, sans-serif
        text-align: center;
      
           
}
p1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        color:azure



}


    
              
 p2{
        font-size: 20px;
              color: rgb(8, 8, 8);
              }
 p3{
        font-size: 20px;
        color: rgb(12, 12, 12);

   }
p4{
        font-size:20px;
        color: rgb(15, 15, 15);
}
p5{
font-size:20px;
color: rgb(8, 8, 8);
}

h3{
    
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.contenedor-imagen:hover .sobreposicion-compra {
  display: block;
}
a {
  text-decoration: none;
  color: #eeeeee;
  background-color: #f7fcfc;
  padding: 1% 2%;
  border-radius: 5px;
  font-weight: bold;
}

img{
  
  width: 200px;
  margin: 40px;
  }

button{
        display:block;
        margin: 10px auto 0 auto;
}
.contenedor-camisetas{
        justify-content: space-between;
        display:flex;
        flex-wrap: wrap;
     
}
.camiseta{
        border-width:3px;
        border-color:#337a81;
        border-style: solid;
        margin-bottom: 2%;
}

a1 {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        border: 1.5px solid #fefefe;
        text-transform: uppercase;
        color: #080808;
        text-decoration: none;
        font-weight:bold;
        font-size: 10px;
      }
      
      a1::before {
        content: '';
        position: absolute;
        top: 6px;
        left: -2px;
        bottom: 5px;
        width: calc(100% + 4px);
        height: calc(100% - 12px);
        background-color:#4b9ec4 ; 
        transition: 0.3s ease-in-out;
        transform: scaleY(1);
      }
      
      a1:hover::before {
        transform: scaleY(0);
      }
      
      a1::after {
        content: '';
        position: absolute;
        left: 6px;
        top: -2px;
        height: calc(100% + 4px);
        width: calc(100% - 12px);
        background-color:#337a81;
        transition: 0.3s ease-in-out;
        transform: scaleX(1);
        transition-delay: 0.5s;
      }
      
      a1:hover::after {
        transform: scaleX(0);
      }
      
      a1 span {
        position: relative;
        z-index: 3;
      }
   
.precio{
        font-weight: bold;
        color: rgba(207, 27, 14, 0.788);
        text-align: center;
}
.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
